body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  margin: 0;
  min-width: 1226px;
  height: 7443px;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* header部分开始 */

/* 第一级导航栏开始 */
.site-topbar {
  position: relative;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background-color: #333;
}

.container {
  width: 1226px;
  position: relative;
  margin: 0 auto;
}

.site-topbar .container {
  height: 40px;
}

.topbar-nav {
  height: 40px;
  line-height: 40px;
  float: left;
}

.site-topbar a {
  display: inline-block;
  text-decoration: none;
  color: #b0b0b0;
  height: 40px;
  line-height: 42px;
}

.site-topbar a:hover {
  color: #fff;
}

.site-topbar .sep {
  margin: 0 0.3em;
  color: #424242;
}

/* 导航栏下载图片开始 */
.site-topbar .topbar-download {
  position: relative;
}

.site-topbar .topbar-download::before {
  display: none;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 15px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom: 8px solid #fff;
}

.site-topbar .topbar-download .appcode {
  position: absolute;
  overflow: hidden;
  top: 40px;
  left: -32px;
  width: 124px;
  height: 0px;
  background-color: #fff;
  box-shadow: 0 1px 5px #aaa;
  text-align: center;
  font-size: 14px;
  color: #333;
  line-height: 1;
  transition: height 0.3s;
  z-index: 100;
}

.site-topbar .topbar-download .appcode img {
  display: block;
  width: 90px;
  height: 90px;
  margin: 18px auto 12px;
}

.site-topbar .topbar-download:hover .appcode {
  height: 148px;
}

.site-topbar .topbar-download:hover::before {
  display: block;
}

/* 导航栏下载图片结束 */

/* 导航栏购物车部分 */
.topbar-cart {
  position: relative;
  float: right;
  width: 120px;
  height: 40px;
  font-size: 12px;
  margin-left: 15px;
}

.topbar-cart .cart-mini {
  position: relative;
  display: block;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background: #424242;
  transition: all 0s 0.3s;
}

.topbar-cart .cart-mini em {
  font-size: 20px;
  line-height: 20px;
  vertical-align: -4px;
  margin-right: 4px;
}

.topbar-cart .cart-menu {
  position: absolute;
  top: 40px;
  right: 0;
  height: 0px;
  width: 316px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: all 0.3s;
  z-index: 99;
}

.topbar-cart .cart-menu .menu-content {
  color: #424242;
  text-align: center;
  font-size: 12px;
  padding: 20px 0;
  line-height: 60px;
}

.topbar-cart:hover .cart-mini {
  color: #ff6700;
  background-color: #fff;
  transition: all 0.1s;
}

.topbar-cart:hover .cart-menu {
  height: 100px;
}

/* 导航栏登陆栏部分 */
.topbar-info {
  position: relative;
  float: right;
}

.site-topbar .topbar-info .sep {
  margin: 0;
}

.site-topbar .topbar-info a {
  padding: 0 2px;
}

.site-topbar .topbar-info a:last-child {
  padding: 0 9px;
}

/* 第一级导航栏结束 */

/* 第二级导航栏开始 */
/* logo模块 */
.site-header {
  position: relative;
  height: 100px;
}

.site-header>.container {
  height: 100px;
  position: static;
}

.site-header .logo {
  float: left;
  position: relative;
  height: 56px;
  width: 56px;
  margin-top: 22px;
  font-size: 0;
  background: url(../images/logo-mi.png) no-repeat;
  background-size: 56px;
  transform: translateZ(0);
}

/* 导航栏模块 */
.site-header .header-nav {
  float: left;
  width: 850px;
  height: 100px;
}

.site-header .nav-list {
  padding-top: 13px;
  height: 87px;
}

.site-header .nav-item {
  float: left;
  height: 87px;
}

.site-header .nav-space {
  float: left;
  height: 87px;
  width: 178px;
}

.site-header .nav-item .link {
  display: block;
  padding: 25px 10px 38px;
  color: #333;
  font-size: 16px;
}

.site-header .nav-item .link:hover {
  color: #ff6700;
}

/* 导航栏滑动下拉菜单栏 */
.site-header .nav-list .nav-slide-down .slide-down-box {
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0;
  height: 0px;
  background-color: #fff;
  overflow: hidden;
  border-top: 1px solid transparent;
  box-shadow: 0 3px 4px transparent;
  transition: border-top 0s 0.4s, box-shadow 0.1s 0.3s, height 0.3s 0.1s, visibility 0s 0.4s;
  visibility: hidden;
  z-index: 99;
}

/* 有下拉菜单的子项目集合被hover时，下拉盒子弹出,并重写所有下拉盒子的动画属性，此时下拉盒子的visibility是突变的 */
/* 当下拉菜单的子项目集合不被hover时，下拉盒子的visibility有0.4s的延迟，见上一条选择器 */
.site-header .nav-slide-down:hover .slide-down-box {
  height: 229px;
  border-top: 1px solid #E0E0E0;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
  transition: border-top 0s 0.1s, box-shadow 0.3s 0.1s, height 0.3s 0.1s, visibility 0s 0s;
}

.slide-down-box .container {
  height: 201px;
  position: relative;
}

.slide-down-box .container .children-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* 有下拉菜单的子项目被hover时，该子项目的下拉盒子可见，其他子项目的下拉盒子不可见 */
.site-header .nav-slide-down .nav-item:hover .slide-down-box {
  visibility: visible;
}

/* 滑动菜单内部商品 */
.slide-down-box .container .children-list {
  display: flow-root;
}

.slide-down-box .container .children-list li {
  position: relative;
  float: left;
  width: 180px;
  height: 166px;
  padding: 35px 12px 0;
  text-align: center;
  font-size: 12px;
}

.slide-down-box .container .children-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 1;
  width: 1px;
  height: 100px;
  background-color: #e0e0e0;
}

.slide-down-box .container .children-list li:first-child::before {
  display: none;
}

.slide-down-box .container .children-list .title {
  color: #333;
  margin-top: 12px;
  line-height: 20px;
}

.slide-down-box .container .children-list .price {
  color: #ff6700;
  margin: 0;
  line-height: 20px;
}

/* 搜索栏模块 */
.site-header .header-search {
  float: right;
  width: 296px;
  height: 50px;
  margin-top: 25px;
}

.site-header .header-search .search-form {
  position: relative;
  width: 296px;
  height: 50px;
  z-index: 9;
}

.site-header .header-search .search-text {
  position: absolute;
  border: 1px solid #e0e0e0;
  outline: 0;
  transition: all 0.2s;

  right: 51px;
  z-index: 1;
  width: 245px;
  height: 50px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 48px;
}

/* 移除input在type="search"时的清除按钮 */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.site-header .header-search .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 50px;
  color: #616161;
  background: #fff;
  border: 1px solid #e0e0e0;
  outline: 0;
  font-size: 24px;
  line-height: 24px;
  z-index: 2;
  transition: all 0.2s;
}

.site-header .search-form:hover .search-text,
.site-header .search-form:hover .search-btn {
  border-color: #b0b0b0;
}

.site-header .header-search .search-btn:hover {
  background: #ff6700;
  color: #fff;
  border-color: #ff6700;
}

/* 第二级导航栏结束 */
/* header部分结束 */

/* banner部分开始 */
.home-hero-container {
  height: 670px;
}

.home-hero {
  height: 644px;
  margin-bottom: 26px;
}

.home-hero .banner-top {
  display: flow-root;
  height: 460px;
}

/* 侧边导航栏部分开始 */
.home-hero .sidebar {
  position: absolute;
  width: 234px;
  height: 460px;
  z-index: 50;
}

.home-hero .sidebar .sidebar-list {
  position: relative;
  width: 234px;
  padding: 20px 0;
  height: 420px;
  border: 0;
  color: #fff;
  background: rgba(105, 101, 101, .6);
}

.home-hero .sidebar .sidebar-item {
  width: 234px;
  height: 42px;
}

.home-hero .sidebar .sidebar-item .title {
  display: block;
  position: relative;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
  color: #fff;
}

.home-hero .sidebar .sidebar-item .title em[class*=iconfont] {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #e0e0e0;
}

/* 侧边导航栏分类子盒子 */
.home-hero .sidebar .sidebar-item-children {
  display: flex;
  position: absolute;
  top: 0;
  left: 234px;
  height: 458px;
  border: 1px solid #e0e0e0;
  border-left: none;
  box-shadow: 0 8px 16px rgb(0 0 0 / 18%);
  background-color: #fff;
  z-index: 20;
  visibility: hidden;
}

/* 侧边导航栏分类子盒子出现动画 */
.home-hero .sidebar .sidebar-item:hover {
  background: #ff6700;
  color: #fff;
}

.home-hero .sidebar .sidebar-item:hover .sidebar-item-children {
  visibility: visible;
}


.home-hero .sidebar-item-children .children-list {
  float: left;
  height: 456px;
  width: 248px;
  padding: 2px 0;
}

.home-hero .sidebar-item-children .children-list li {
  position: relative;
  float: left;
  width: 265px;
  height: 76px;
}

.home-hero .sidebar-item-children .children-list li a {
  display: block;
  box-sizing: border-box;
  width: 265px;
  height: 76px;
  padding: 18px 20px;
  line-height: 40px;
  color: #333;
  transition: color 0.2s;
}

.home-hero .sidebar-item-children .children-list li a:hover {
  color: #ff6700;
}

.home-hero .sidebar-item-children .children-list li a img {
  float: left;
  margin-right: 12px;
  vertical-align: middle;
}

.home-hero .sidebar-item-children .children-list li a .text {
  float: left;
  width: 172px;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 侧边导航栏部分结束 */

/* 主体轮播图部分开始 */
.home-hero .slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 1226px;
  height: 460px;
  z-index: 1;
}

.home-hero .slideshow .input-radio {
  display: none;
}

/* 轮播图圆点切换按钮 */
.home-hero .slideshow .labelbox {
  position: absolute;
  box-sizing: border-box;
  bottom: 15px;
  right: 20px;
  width: 100px;
  height: 21px;
  padding-left: 18px;
  z-index: 40;
}

.home-hero .slideshow .labelbox .small-label-point {
  display: block;
  float: left;
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.4);
  margin: 0 4px;
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
}

.home-hero .slideshow .labelbox .small-label-point:hover {
  background: hsla(0, 0%, 100%, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}

.home-hero .slideshow .input-radio:nth-child(1):checked~.labelbox label.small-label-point:nth-child(1),
.home-hero .slideshow .input-radio:nth-child(2):checked~.labelbox label.small-label-point:nth-child(2),
.home-hero .slideshow .input-radio:nth-child(3):checked~.labelbox label.small-label-point:nth-child(3),
.home-hero .slideshow .input-radio:nth-child(4):checked~.labelbox label.small-label-point:nth-child(4) {
  background: hsla(0, 0%, 100%, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}

/* 轮播图图片部分 */
.home-hero .slideshow .bannerbox {
  position: relative;
  width: 1226px;
  height: 460px;
}

.home-hero .slideshow .bannerbox .banner-container {
  position: absolute;
  width: 1226px;
  height: 460px;
}

.home-hero .slideshow .banner-container a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 234px;
  display: none;
  z-index: 25;
}

.home-hero .slideshow .banner-container img {
  width: 1226px;
  height: 460px;
  opacity: 0;
  transition: opacity 0.8s;
}

/* 轮播图切换功能 */
.home-hero .slideshow .input-radio:nth-child(1):checked~.bannerbox .banner-container:nth-child(1) label,
.home-hero .slideshow .input-radio:nth-child(2):checked~.bannerbox .banner-container:nth-child(2) label,
.home-hero .slideshow .input-radio:nth-child(3):checked~.bannerbox .banner-container:nth-child(3) label,
.home-hero .slideshow .input-radio:nth-child(4):checked~.bannerbox .banner-container:nth-child(4) label {
  display: block;
}

.home-hero .slideshow .input-radio:nth-child(1):checked~.bannerbox .banner-container:nth-child(1) a,
.home-hero .slideshow .input-radio:nth-child(2):checked~.bannerbox .banner-container:nth-child(2) a,
.home-hero .slideshow .input-radio:nth-child(3):checked~.bannerbox .banner-container:nth-child(3) a,
.home-hero .slideshow .input-radio:nth-child(4):checked~.bannerbox .banner-container:nth-child(4) a {
  display: block;
}

.home-hero .slideshow .input-radio:nth-child(1):checked~.bannerbox .banner-container:nth-child(1) img,
.home-hero .slideshow .input-radio:nth-child(2):checked~.bannerbox .banner-container:nth-child(2) img,
.home-hero .slideshow .input-radio:nth-child(3):checked~.bannerbox .banner-container:nth-child(3) img,
.home-hero .slideshow .input-radio:nth-child(4):checked~.bannerbox .banner-container:nth-child(4) img {
  opacity: 1;
}

/* 轮播图左右切换按钮 */
.home-hero .slideshow .bannerbox .banner-container label {
  position: absolute;
  top: 50%;
  width: 41px;
  height: 69px;
  margin-top: -35px;
  cursor: pointer;
  outline: none;
  z-index: 60;
  opacity: 1;
  display: none;
}

.home-hero .slideshow .banner-container label.left {
  left: 234px;
  background: url(../images/icon-slides.png) no-repeat -84px 50%;
}

.home-hero .slideshow .banner-container label.left:hover {
  background-position: 0 50%;
}

.home-hero .slideshow .banner-container label.right {
  right: 0;
  background: url(../images/icon-slides.png) no-repeat -125px 50%;
}

.home-hero .slideshow .banner-container label.right:hover {
  background-position: -42px 50%;
}

/* 轮播图自动播放动画 */
/* 主体轮播图部分结束 */

/* 轮播图下方广告栏部分开始 */
.home-hero .ad-row {
  position: relative;
  width: 1226px;
  height: 170px;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
}

/* 左侧导航盒部分 */
.home-hero .ad-row .ad-leftside {
  width: 234px;
  height: 170px;
}

.home-hero .ad-row .ad-leftside ul.home-channel-list {
  box-sizing: border-box;
  width: 234px;
  height: 170px;
  margin: 0;
  padding: 3px;
  list-style-type: none;
  font-size: 12px;
  text-align: center;
  background: #5f5750;
}

.home-hero .ad-row .ad-leftside ul.home-channel-list li {
  position: relative;
  float: left;
  width: 70px;
  height: 82px;
  padding: 0 3px;
}

.home-hero .ad-row .ad-leftside ul.home-channel-list li::before {
  content: "";
  position: absolute;
  background: #665e57;
  top: -1px;
  left: 6px;
  width: 64px;
  height: 1px;
}

.home-hero .ad-row .ad-leftside ul.home-channel-list li::after {
  content: "";
  position: absolute;
  background: #665e57;
  top: 6px;
  left: 0px;
  width: 1px;
  height: 70px;
}

.home-hero .ad-row .ad-leftside ul.home-channel-list li a {
  display: block;
  padding-top: 18px;
  color: #fff;
  opacity: 0.7;
  transition: opacity .2s;
}

.home-hero .ad-row .ad-leftside ul.home-channel-list li a:hover {
  opacity: 1;
}

.home-hero .ad-row .ad-leftside ul.home-channel-list li a img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto 4px;
}

/* 右侧导航盒部分 */
.home-hero .ad-row .ad-rightside {
  width: 978px;
  height: 170px;
}

.home-hero .ad-row .ad-rightside ul.home-promo-list {
  width: 978px;
  height: 170px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.home-hero .ad-row .ad-rightside ul.home-promo-list li {
  width: 316px;
  height: 170px;
}

.home-hero .ad-row .ad-rightside ul.home-promo-list li a {
  width: 316px;
  height: 170px;
  display: block;
}

.home-hero .ad-row .ad-rightside ul.home-promo-list li a img {
  width: 316px;
  height: 170px;
  display: block;
}

/* 轮播图下方广告栏部分结束 */

/* banner部分结束 */

/* 页面主体部分开始 */
.home-main {
  display: flow-root;
  padding-top: 4px;
  padding-bottom: 12px;
  background: #f5f5f5;
}

/* 小米秒杀盒子开始 */
.home-main .xm-seckill-box {
  position: relative;
  margin-bottom: 22px;
}

.home-main .xm-seckill-box .box-hd {
  position: relative;
  height: 58px;
  -webkit-font-smoothing: antialiased;
}

.xm-seckill-box .box-hd .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}

.home-main .xm-seckill-box .box-bd {
  display: flow-root;
  position: relative;
}

/* 倒计时部分 */
.home-main .xm-seckill-box .box-bd .count-down {
  float: left;
  width: 234px;
  height: 300px;
  padding-top: 39px;
  border-top: 1px solid #e53935;
  background: #f1eded;
  text-align: center;
}

.home-main .xm-seckill-box .box-bd .count-down .round {
  font-size: 21px;
  color: #ef3a3b;
  padding-top: 15px;
}

.home-main .xm-seckill-box .box-bd .count-down img {
  margin: 25px auto;
}

.home-main .xm-seckill-box .box-bd .count-down .desc {
  color: rgba(0, 0, 0, .54);
  font-size: 15px;
}

.home-main .xm-seckill-box .box-bd .count-down .count-down-time {
  width: 168px;
  margin: 28px auto 0;
}

.home-main .xm-seckill-box .box-bd .count-down .count-down-time span {
  float: left;
  width: 46px;
  height: 46px;
  background: #605751;
  color: #fff;
  font-size: 24px;
  line-height: 46px;
}

.home-main .xm-seckill-box .box-bd .count-down .count-down-time i {
  float: left;
  font-style: normal;
  width: 15px;
  height: 46px;
  line-height: 46px;
  color: #605751;
  font-size: 28px;
}

/* 滑动栏部分 */

.home-main .xm-seckill-box .box-bd .slide-row-box {
  float: left;
  position: relative;
  width: 992px;
  height: 340px;
}

.home-main .xm-seckill-box .box-bd .slide-row {
  float: left;
  position: relative;
  width: 978px;
  height: 340px;
  margin-left: 14px;

  overflow: hidden;
}

.home-main .xm-seckill-box .box-bd .slide-row .slide-row-list {
  display: flex;
  width: 2466px;
  height: 340px;
  transition-duration: 1s;
}

.home-main .xm-seckill-box .box-bd .slide-row .slide-row-item {
  position: relative;
  width: 234px;
  height: 339px;
  border-top-width: 1px;
  border-top-style: solid;
  margin-left: 14px;
  text-align: center;
  background: #fff;
  list-style: none;
}

.home-main .xm-seckill-box .box-bd .slide-row .slide-row-item.rainbow-item-1 {
  margin-left: 0;
}

.rainbow-item-1,
.rainbow-item-6 {
  border-top-color: #ffac13;
}

.rainbow-item-2,
.rainbow-item-7 {
  border-top-color: #83c44e;
}

.rainbow-item-3,
.rainbow-item-8 {
  border-top-color: #2196f3;
}

.rainbow-item-4,
.rainbow-item-9 {
  border-top-color: #e53935;
}

.rainbow-item-5,
.rainbow-item-10 {
  border-top-color: #00c0a5;
}


/* 滑动栏盒子内容部分 */
.home-main .xm-seckill-box .box-bd .slide-row .slide-row-item a {
  display: block;
  height: 300px;
  padding-top: 39px;
  position: relative;
}

.home-main .box-bd .slide-row .slide-row-item a .thumb {
  width: 160px;
  margin: 0 auto 22px;
}

.home-main .box-bd .slide-row .slide-row-item a .title {
  margin: 0 20px 3px;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-main .box-bd .slide-row .slide-row-item a .desc {
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  color: #b0b0b0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-main .box-bd .slide-row .slide-row-item a .price {
  margin: 0;
  color: #ff6709;
}

.home-main .box-bd .slide-row .slide-row-item a .price span.del {
  color: #b0b0b0;
  text-decoration: line-through;
}

/* 滑动栏播放动画部分 */
.home-main .box-bd .slide-row-box .slide-row-radio {
  display: none;
}

input#seckill-1:checked~.slide-row .slide-row-list {
  transform: translate3d(0px, 0px, 0px);
}

input#seckill-2:checked~.slide-row .slide-row-list {
  transform: translate3d(-992px, 0px, 0px);
}

input#seckill-3:checked~.slide-row .slide-row-list {
  transform: translate3d(-1488px, 0px, 0px);
}

input#seckill-1:checked~.label-page-1,
input#seckill-2:checked~.label-page-2,
input#seckill-3:checked~.label-page-3 {
  display: block;
}

/* 滑动栏左右滑块按钮部分 */

.home-main .box-bd .slide-row-box .label-page-1,
.home-main .box-bd .slide-row-box .label-page-2,
.home-main .box-bd .slide-row-box .label-page-3 {
  display: none;
}

.home-main .box-bd .slide-row-box .slide-row-label-left,
.home-main .box-bd .slide-row-box .slide-row-label-right {
  display: block;
  position: absolute;
  top: -34px;
  width: 24px;
  height: 16px;
  padding: 3px 5px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 16px;
  transition: color .5s;
  color: #b0b0b0;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}

.home-main .box-bd .slide-row-box .slide-row-label-left:hover,
.home-main .box-bd .slide-row-box .slide-row-label-right:hover {
  color: #ff6700;
}


.home-main .box-bd .slide-row-box .slide-row-label-left {
  right: 35px;
}

.home-main .box-bd .slide-row-box .slide-row-label-right {
  right: 0px;
}

/* 小米秒杀盒子结束 */

/* 广告盒子样式 */
.home-main .home-banner-box {
  height: 120px;
  margin: 22px 0;
  overflow: hidden;
}

/* 主体双栏内容盒子样式 */
.home-main .xm-plain-box {
  position: relative;
  margin-bottom: 36px;
}

/* 内容盒子头部样式 */
.home-main .xm-plain-box .box-hd {
  position: relative;
  height: 58px;
  -webkit-font-smoothing: antialiased;
}

.home-main .xm-plain-box .box-hd .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  height: 58px;
  line-height: 58px;
  color: #333;
}

.home-main .xm-plain-box .more {
  position: absolute;
  top: 0;
  right: 0;
  width: 92px;
  height: 58px;
}

.home-main .xm-plain-box .more a.link {
  font-size: 16px;
  line-height: 58px;
  color: #424242;
  transition: color .4s;
}

.home-main .xm-plain-box .more a.link:hover {
  color: #ff6700;
}

.home-main .xm-plain-box .more a.link:hover .iconfont-circle {
  background: #ff6700;
}

.home-main .xm-plain-box .more a.link .iconfont-circle {
  width: 12px;
  height: 12px;
  padding: 4px;
  margin-left: 8px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 12px;
  background: #b0b0b0;
  color: #fff;
  vertical-align: 1px;
  transition: all .4s;
}

/* 内容盒子主体样式 */
.home-main .xm-plain-box .box-bd {
  position: relative;
  width: 1226px;
  height: 614px;
}

.home-main .xm-plain-box .box-bd .brick-container {
  position: relative;
  width: 1226px;
  height: 614px;
}

/* 左侧主体卡片盒子 */
.home-main .xm-plain-box .box-bd .brick-container .main-brick {
  position: absolute;
  width: 234px;
  height: 614px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-main .xm-plain-box .box-bd .brick-container .main-brick .main-brick-item {
  width: 234px;
  height: 300px;
  transition: all .2s linear;
}

.home-main .xm-plain-box .box-bd .brick-container .main-brick .main-brick-item-height {
  width: 234px;
  height: 614px;
  transition: all .2s linear;
}

.home-main .xm-plain-box .box-bd .brick-container a {
  display: block;
  width: 100%;
  height: 100%;
}

/* 右侧多卡片盒子 */
.home-main .xm-plain-box .box-bd .brick-list {
  position: absolute;
  left: 248px;
  width: 978px;
  height: 614px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  /* visibility: hidden; */
  display: none;

}

.home-main .xm-plain-box .box-bd .brick-list .brick-item {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 234px;
  height: 300px;
  padding: 20px 0;
  background: #fff;
  transition: all .2s linear;
}

/* 右侧多卡片盒子内容部分 */
.home-main .xm-plain-box .box-bd .brick-list .brick-item .figure {
  width: 160px;
  height: 160px;
  margin: 0 auto 18px;
}

.home-main .xm-plain-box .box-bd .brick-list .brick-item .figure img {
  width: 160px;
  height: 160px;
}

.home-main .xm-plain-box .box-bd .brick-list .brick-item .title {
  margin: 0 10px 2px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-main .xm-plain-box .box-bd .brick-list .brick-item .desc {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-main .xm-plain-box .box-bd .brick-list .brick-item .price {
  margin: 0 10px 14px;
  text-align: center;
  color: #ff6700;
}

.home-main .xm-plain-box .box-bd .brick-list .brick-item .price span.del {
  margin-left: 0.5em;
  color: #b0b0b0;
  text-decoration: line-through;
}

/* 商品卡片浮起动画 */
.home-main .xm-plain-box .brick-item:hover,
.home-main .xm-plain-box .main-brick-item:hover {
  z-index: 2;
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
  transform: translate3d(0, -2px, 0);
}

/* 家电导航盒子切换栏 */
.home-main-radio {
  display: none;
}

.home-main .xm-plain-box .home-main-radio:nth-child(1):checked~.box-bd .brick-container ul.brick-list:nth-child(1),
.home-main .xm-plain-box .home-main-radio:nth-child(2):checked~.box-bd .brick-container ul.brick-list:nth-child(2),
.home-main .xm-plain-box .home-main-radio:nth-child(3):checked~.box-bd .brick-container ul.brick-list:nth-child(3),
.home-main .xm-plain-box .home-main-radio:nth-child(4):checked~.box-bd .brick-container ul.brick-list:nth-child(4) {
  /* visibility: visible; */
  display: flex;
}

.house-appliance-label-1,
.house-appliance-label-2 {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 16px;
  font-size: 16px;
}

.house-appliance-label-1 span,
.house-appliance-label-2 span {
  display: inline-block;
  height: 24px;
  transition: color .2s, border .2s;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.house-appliance-label-1 {
  right: 94px;
}

input#house-appliance-radio-1:checked~label.house-appliance-label-1 span,
input#house-appliance-radio-2:checked~label.house-appliance-label-2 span {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

/* 页面主体部分结束 */
